body {
    font-family: Arial;
    margin: 0;
    background: #f5f7f6;
}

header {
    background: #4CAF8A;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

section {
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #4CAF8A;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #3a8f70;
}

.trainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.trainer-text {
    font-size: 20px;
}

.trainer img {
    width: 20vw; 
    height: auto;
    border-radius: 5%;
}

.phone {
    font-size: 20px;
}

.socials a {
    margin-right: 15px;
    text-decoration: none;
    color: #4CAF8A;
    font-weight: bold;
}

.socials a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}

/* чтобы страница не была "пустой" */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
}

/* СЛАЙДЕР */
.slider {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x mandatory;
}

.slider img {
    height: 300px;
    min-width: 400px;
    object-fit: cover;
    border-radius: 12px;
    scroll-snap-align: center;
    flex-shrink: 0;
    cursor: pointer;
}

/* 📱 МОБИЛКА (ВАЖНО) */
@media (max-width: 600px) {

    .slider img {
        height: 65vh;
        min-width: 90vw;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center; /* 🔥 центрируем */
    }
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}

.lightbox img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    transition: 0.3s;
}

.dot.active {
    background: #4CAF8A;
    transform: scale(1.3);
}