body {
    font-family: Arial;
    margin: 0;
    background: #f5f7f6;
}

header {
    background: #4CAF8A;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

section {
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #4CAF8A;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #3a8f70;
}

.trainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.trainer img {
    width: 150px;
    border-radius: 50%;
}

.phone {
    font-size: 20px;
}

.socials a {
    margin-right: 15px;
    text-decoration: none;
    color: #4CAF8A;
    font-weight: bold;
}

.socials a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}